<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975435672956-eie60u79alruhhdqef9scpg47q8lk6km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975435672956-eie60u79alruhhdqef9scpg47q8lk6km</string>
	<key>API_KEY</key>
	<string>AIzaSyBVaJEeZzq7u1tcJ2_HDi5t4uwBB3FLDhg</string>
	<key>GCM_SENDER_ID</key>
	<string>975435672956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seizeit</string>
	<key>PROJECT_ID</key>
	<string>seizeit-1568700170733</string>
	<key>STORAGE_BUCKET</key>
	<string>seizeit-1568700170733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975435672956:ios:d6007d7724ce87ff4908f9</string>
	<key>DATABASE_URL</key>
	<string>https://seizeit-1568700170733.firebaseio.com</string>
</dict>
</plist>